i[class^="pui-icon-"] {
  font-style: normal;
}

.pui-icon-wheelchair::before {
  content: "\267F"; 
}

.pui-icon-notice {
  @extend .ph-duotone, .ph-lightbulb;
  color: var(--teal);
}

.pui-icon-alert {
  @extend .ph-duotone, .ph-warning-circle;
  color: var(--orange);
}

.pui-icon-warning {
  @extend .ph-duotone, .ph-warning;
  color: var(--red);
}

.pui-icon-accessibility {
  @extend .pui-icon-notice, .ph-duotone, .ph-person-arms-spread;
}

.pui-icon-account {
  @extend .ph-duotone, .ph-user-circle;
}

.pui-icon-caret-down {
  @extend .ph-bold, .ph-caret-down;
}

.pui-icon-caret-up {
  @extend .ph-bold, .ph-caret-up;
}

.pui-icon-menu {
  @extend .ph-bold, .ph-list;
}

.pui-icon-search {
  @extend .ph-bold, .ph-magnifying-glass;
}
